<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.v8.dt.bsl.externalBslValidator">
      <externalValidator
            class="org.silverbulleters.dt.silverlint.ui.LintValidator">
      </externalValidator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.silverbulleters.dt.silverlint.ui.preferences.PreferencePage"
            id="org.silverbulleters.dt.silverlint.ui.preferences.page"
            name="SilverLint">
      </page>
   </extension>
</plugin>
